/* Given Stylings */
:root {
  /* colors */
  --clr-dkBlue: hsl(233, 47%, 7%);
  --clr-dkBlueDesat: hsl(244, 38%, 16%);
  --clr-violet: hsl(277, 64%, 61%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-whiteAccent1: hsla(0, 0%, 100%, 0.75);
  --clr-whiteAccent2: hsla(0, 0%, 100%, 0.6);

  /* font weights */
  --wt-400: 400;
  --wt-700: 700;

  /* fonts */
  --font-inter: "Inter", sans-serif;
  --font-lexend-deca: "Lexend Deca", sans-serif;
}

body {
  font-size: 15px;
  background-color: var(--clr-dkBlue);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-inter);
  height: 100vh;
}

h1,
h2 {
  color: var(--clr-white);
}

h1 {
  font-size: 2.2em;
}

h2 {
  margin: 0.2em;
}

.container {
  max-width: 375px;
  background-color: var(--clr-dkBlueDesat);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0.5em;
}

.information {
  padding: 1em 2em 2em 2em;
}

.stats {
  text-align: center;
}

.description {
  color: var(--clr-whiteAccent1);
  font-size: 1.2em;
  line-height: 2;
  text-align: center;
}

.stats-lbl {
  color: var(--clr-whiteAccent2);
  font-family: var(--font-lexend-deca);
  font-weight: var(--wt-400);
  font-size: 0.9em;
  letter-spacing: 0.09em;
}

.stats-col {
  padding: 1em;
}

.highlight {
  color: var(--clr-violet);
}

.img-mobile {
  width: 100%;
  border-radius: 0.5em 0.5em 0 0;
}

.img-desktop {
  display: none;
}

.violet-mobile {
  width: 375px;
  height: 275.233px;
  border-radius: 0.5em 0.5em 0 0;
  background-color: hsl(277, 91%, 30%);
  position: absolute;
  overflow: hidden;
  opacity: 0.6;
}

/* pre-included attribution css moved from index <style> */
.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--clr-white);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* non-mobile settings */
@media (min-width: 905px) {
  h1 {
    margin: 0;
  }

  .container {
    flex-direction: row;
    max-width: 1000px;
    height: 400px;
  }

  .information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 60%;
    text-align: left;
    padding: 2em 4em;
  }

  .description {
    font-size: 1em;
    text-align: left;
    margin-top: 1em;
    margin-bottom: 2em;
    padding-right: 2em;
  }

  .stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
    text-align: left;
    margin-top: 1em;
  }

  .stats-col {
    text-align: left;
    padding: 0;
  }

  .img-container-desktop {
    display: block;
    height: 100%;
  }

  .violet-desktop {
    position: absolute;
    overflow: hidden;
    width: 484.3px;
    height: 400px;
    border-radius: 0 0.5em 0.5em 0;
    background-color: hsl(277, 91%, 30%);
    opacity: 0.6;
  }

  .img-container-mobile {
    display: none;
  }

  .img-desktop {
    display: block;
    height: 100%;
    border-radius: 0 0.5em 0.5em 0;
  }
}
